<body>
    @{
        ViewBag.Title = "Home Page";
    }
    <div class="homepage">
        <div class="container">
            <div class="row home-top">
                <div class="col-md-5 home-header">
                    <p id="travel">ITravel</p>
                    <p id="travel-text">Great travel reviews about any place you could imagine</p>
                </div>
                <div class="col-md-7"></div>
            </div>

            <div class="row nav-row">
                <div class="col-md-4">
                    <h2>Reviews</h2>
                    <p>
                        Read user reviews
                    </p>
                    <a class="btn btn-primary" href="~/Reviews/Index"> Reviews </a>
                </div>
                <div class="col-md-4">
                    <h2>Categories</h2>
                    <p>Different travel categories</p>
                    <a class="btn btn-primary" href="~/Categories/Index">Categories</a>

                </div>
                <div class="col-md-4">
                    <h2>Users</h2>
                    <p>Lists site users</p>
                    <a class="btn btn-primary" href="~/Users/Index">Users</a>
                </div>
            </div>
            <div class="empty-row"></div>
        </div>
    </div>
</body>
